*.class

# Eclipse stuff #
.settings/
.classpath
.project

# Package Files #
*.jar
*.war
*.ear

# Ignore . & ~ files except .gitignore #
*~
.*
sonar-project.properties
target/
!/.gitignore
#resources/
res/
*.properties
!Keys.properties
!logback.xml

# Csharp files
obj/
bin/
App.config
*.sln
*.json
