# 
# Get your API key for heroku from https://dashboard.heroku.com/account
# 
# The APIKey is needed to get authentication from heroku.com to be
# able to make any API calls.
#
# Copy the file to heroku.properties and fill in the correct values
# for APIKey and emailaddress.

APIKey=[API_KEY]
emailaddress=[EMAIL_ADDRESS]