# 
# Get your API key for MUZU from http://www.muzu.tv/api/getYourApiKey/
# 
# The MUZU_ID is needed to get authentication from muzutv.com to be
# able to make any API calls.
#
# Copy the file to muzu.properties and fill in the correct value
# for APIKey.

APIKey=[MUZU_ID]